<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
