
@{
    ViewBag.Title = "File Manager";
    Layout = "~/Views/_Master.cshtml";
}

<link href="/FileManager/css/Style.css" rel="stylesheet" />
<div id="see" dir="ltr" oncontextmenu="return false;">
    <table style="width:100%;margin-left:20px;margin-top:10px;">
        <tr>
            <td style="text-align:left">
                <input id="ph" type="text" style="width:90%" value="\" disabled="disabled" />&nbsp;&nbsp;&nbsp;<a href="#" onclick="return ToUp();"><img src="/FileManager/img/Up.png" /></a>
            </td>
        </tr>
    </table>
    <div id="filemanager"></div>

</div>

<p id="dd"></p>
<p style="display:none">
    <span id="l3">go</span><input type="text" id="lbl1" value="/" /><br /><br /><input id="lbl2" value="0" />
</p>
<br />
<p id="dd2"></p>
<p style="display:none" id="ph3"></p>



<script src="/FileManager/js/FileManager.js"></script>

